//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$main-color: #b72634;
$menu-grey-color: #6b7280;
$menu-active-bg: #E8F0F5;
$menu-hover-color: #b72634;
$level-lock-border: #f2f2f2;
$level-active-border: #166699;
$red-custom: #d50e00;
$green-custom: #4caf50;
$yellow-custom: #dfa700;
$violet-custom: #673ab7;
$info-custom: #00cfe8;
