@import "../../../../../../../assets/scss/variables/variables";
@import "@src/assets/scss/customize.scss";

.otp {
  &-wrapper {
    width: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 1rem;
    div {
      height: 100%;
      width: 60px;
    }
  }
  &-input {
    width: 100% !important;
    height: 100%;
    font-size: 20px;
  }
}

#userContainer {
  padding: 15px;

  .btn {
    padding: 0.786rem 1.5rem;
  }

  .heading {
    font-weight: 600;
  }

  .input-group-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      height: 38px;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #166699;
      border: 1px solid #166699;
      color: white;
      border-right: 1px solid transparent;
      margin-right: -1px;
      border-radius: 0.357rem 0 0 0.357rem;
    }
  }
  .modal-search-col {
    @include devices(lg) {
      margin-top: 1rem;
      padding-left: 5px;
      padding-right: 5px;
    }
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    .input-group-custom {
      width: 100% !important;
      .icon {
        flex-shrink: 0;
      }
      .react-select {
        flex: 1;
      }
    }
    .icon {
      background: transparent !important;
      border: 1px solid #d8d6de !important;
      color: black !important;
    }
  }
}